.services {
  background-color: $colorDarkGrey;
  padding: 80px 0;

  .servicesText {
    color: $colorLightGrey;
    font-family: $fontPoppins;
    text-align: center;
  }

  .serviceBlock {
      padding: 40px 50px;
      text-align: center;
      border: 1px solid $colorLightGrey;
      background-color: lighten($colorLightGrey, 30%);
      transition: all 0.5s;
      &:hover{
        cursor: pointer;
        box-shadow: $shadow;
      }

      h2 {
        font-size: 18px;
        font-family: $fontPoppins;
        color: $colorBlack;
      }

      p {
        font-size: 14px;
        font-family: $fontLato;
        color: lighten($colorDarkGrey, 10%);

      }
  }


}

.servicesConsultation{
  background-color: $colorDarkGrey ;
  padding: 80px;
  h1{
    white-space: nowrap;
    font-size: 36px;
    font-family: $fontPoppins;
    color: $colorWhite;
    text-transform: capitalize;
  }
}


