$fontLato: 'Lato', sans-serif;
$fontPoppins: 'Poppins', sans-serif;
$colorWhite: #ffffff;
$colorBlack: #151515;
$colorDarkGrey: #5F656C;
$colorGreen: #57C3B5;
$colorLightGrey:#76948D;
$shadow:  0px 0px 35px -4px rgba(0,0,0,0.76);
